/* 全局样式表 */
html,body,#app{
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 900px;
  min-width: 300px;
  text-align: center;
}

.van-field__control{

  border-radius:20px;
}
.van-grid-item__content--center{
  justify-content:start;
  /* border-radius:10px; */
}